PORT=8000
NODE_ENV=production
CLIENT_URL=https://your-vistagram-app.vercel.app
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.e5ptmmf.mongodb.net/Vistagram
JWT_SECRET=your_jwt_secret_key_here
EMAIL=team.vistagram@gmail.com
EMAIL_PASSWORD=your_app_password_here
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
